{% extends "base.html" %}

{% block title %} Pheonix: Plumage {% end %}

{% block body %}
<div class="panel panel-info">
    <div class="panel-heading">Job Details</div>
    <div class="panel-body">

      <dl class="dl-horizontal">
	<dt>Job ID</dt>
	<dd>{{job_data.id}}</dd>
      </dl>

      <dl class="dl-horizontal">
	<dt>Submitter</dt>
	<dd>
	  <address>
	    <strong>{{job_data.submitter}}</strong>
	    <a href="mailto:#">{{job_data.email}}</a>
	  </address>
	</dd>
      </dl>

      <dl class="dl-horizontal">
	<dt>Job Name</dt>
	<dd>{{job_data.name}}</dd>
      </dl>

      <dl class="dl-horizontal">
	<dt>Scene</dt>
	<dd>{{job_data.scene}}</dd>
      </dl>

      <dl class="dl-horizontal">
	<dt>Frames</dt>
	<dd>{{job_data.frame_start}} - {{job_data.frame_end}}</dd>
      </dl>

    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">Actions</div>
    <div class="panel-body container-fluid">
        <div class="row">
            {% if job_data.job_status == 1 %}
            <div class="col-sm-4 col-md-2 text-center">
                <a href="/cancel_job?uuid={{ job_data.uuid }}" >
                    <button type="button" id="delete_job" class="btn btn-danger" aria-label="Left Align">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        <span>Cancel Job</span>
                    </button>
                </a>
            </div>
            {% end %}
	    <!--
            {% if job_data.job_status == 1 %}
            <div class="col-sm-1 col-md-2">
                <button type="button" id="manual_submit" class="btn btn-info" aria-label="Left Align" data-toggle="modal" data-target="#manual-submit-form">
                    <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
                    <span>Manual Upload</span>
                </button>
            </div>
            {% end %}
            -->
            {% if job_data.job_status == 1 %}
            <div class="col-sm-4 col-md-2 text-center">
                <a href="/toggle_auto_requeue?uuid={{ job_data.uuid }}" >
                    <button type="button" id="toggle_auto_requeue" class="btn {% if job_data.settings.try_hard == 1 %}btn-info{% else %}btn-default{% end %}" aria-label="Left Align">
                        <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                        <span>{% if job_data.settings.try_hard == 1 %}Disable Auto-Requeue{% else %}Enable Auto-Requeue{% end %}</span>
                    </button>
                </a>
            </div>
            {% end %}
	    <div class="col-sm-4 col-md-2 text-center">
	      <div class="btn btn-success renderimg" img_src="/fetch_previewclip?uuid={{ job_data.uuid }}">View Preview</div>
	    </div>
    	</div>
	
	<div class="row">
            {% if job_data.job_status == 2 %}
            <div class="col-sm-4 col-md-2 text-center">
                <a href="/download_zip?uuid={{ job_data.uuid }}&category=render" >
                    <button type="button" id="download_zip" class="btn btn-info" aria-label="Left Align">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                        <div>Renders</div>
                        <div>Dowload Zip</div>
                    </button>
                </a>
            </div>
            {% for category in categories %}
            {% if category != "render" %}
            <div class="col-sm-4 col-md-2 text-center">
                <a href="/download_zip?uuid={{ job_data.uuid }}&category={{ category }}" >
                    <button type="button" id="download_zip" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                        <div>{{ category.capitalize() }}</div>
                        <div>Dowload Zip</div>
                    </button>
                </a>
            </div>
            {% end %}
            {% end %}
            {% end %}
	</div>
    </div>
</div>
   
<!-- Manual Upload Modal -->
<div id="manual-submit-form" class="modal fade" role="dialog">
    <div class="modal-dialog">
        
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <form id="form-manual_upload" name="manual_upload" role="form" action="/manual_upload" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="frame">Frame:</label>
                        <input name="frame" type="number" class="form-control" id="frame" required>
                    </div>
                    <div class="form-group">
                        <label for="frame_file">File:</label>
                        <input name="frame_file" type="file" class="form-control" id="frame_file" required>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">Job Frame Status</div>         
    <table data-toggle="table" class="table table-hover" id="jobstatus-table" data-sort-name="frame-number" data-sort-order="asc">
        <thead>
            <tr>
                <th data-field="frame-number" data-sortable="true">Frame</th>
                <th data-field="frame-complete" data-sortable="true">Complete</th>
                <th data-field="frame-status" data-sortable="true">Status</th>
                <th data-field="frame-time" data-sortable="true">Time</th>
		<th data-field="frame-node" data-sortable="true">Node</th>
                <th data-field="frame-actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for frame in job_data.frames %}
            <tr id="frame-row-{{ frame.uuid }}" class="{% if frame.status == 4%}success{% elif frame.status == 2 %}info{% elif frame.status == 4 %}warning{% elif frame.status == 5 %}danger{% end %}">
                <td class="frame-tbl-id">{{ frame.frame }}</td>
                <td class="frame-tbl-complete text-center">{% if frame.status < 3 %}NO{% else %}YES{% end%}</td>
                <td class="frame-tbl-status text-center">
                    {% if frame.status == 0 or frame.status == 1 %}
                    WAITING
                    {% elif frame.status == 2%}
                    RENDERING
                    {% elif frame.status == 3%}
                    COMPLETE - WAITING FOR FILE
                    {% elif frame.status == 4%}
                    COMPLETE
                    {% elif frame.status == 5%}
                    FAILED
                    {% else %}
                    UNKNOWN
                    {% end%}
                </td>
                <td class="frame-tbl-time text-center">
                    {{ frame.time }}
                </td>
		<td class="frame-tbl-node text-center">
		  {{ frame.node }}
                </td>
                <td class="frame-tbl-actions text-center">
                    {% if frame.status == 4%}
                    <div class="btn btn-success renderimg" img_src="/fetch_render?uuid={{ frame.uuid }}">View Image</div>
                    {% end %}
                    {% if frame.status > 0 and frame.status != 4 %}
                    <div class="btn btn-info requeue_btn" uuid="{{ frame.uuid }}" target="/manual_requeue?uuid={{ frame.uuid }}">Requeue</div>
                    {% end %}  
                </td>
            </tr>
            {% end %}
        </tbody>
    </table>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% end %}


{% block scripthook %}
      
<script>
 $('tbody.rowlink').rowlink()       
</script>

<script src="static/lib/view_job.js"> </script>

{% end %}
