{% extends "base.html" %}

{% block title %} Pheonix: Plumage {% end %}

{% block body %}
<div class="panel panel-info">
    <div class="panel-heading">Job Details</div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Job ID</h4>
                <p class="list-group-item-text">                    
                    {{ job_data.id }}
                </p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Job Submitter</h4>
                <p class="list-group-item-text">{{ job_data.submitter }}</p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Job Submitter Email</h4>
                <p class="list-group-item-text">{{ job_data.email }}</p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Job Name</h4>
                <p class="list-group-item-text">{{ job_data.name }}</p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Job Scene</h4>
                <p class="list-group-item-text">{{ job_data.scene }}</p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Job Frame Start</h4>
                <p class="list-group-item-text">{{ job_data.frame_start }}</p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Job Frame End</h4>
                <p class="list-group-item-text">{{ job_data.frame_end }}</p>
            </li>                              
        </ul>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">Actions</div>
    <div class="panel-body">
        <div class="row">
            {% if job_data.job_status == 1 %}
            <div class="col-sm-1 col-md-2">
                <a href="/cancel_job?uuid={{ job_data.uuid }}" >
                    <button type="button" id="delete_job" class="btn btn-danger" aria-label="Left Align">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        <span>Cancel Job</span>
                    </button>
                </a>
            </div>
            {% end %}
            {% if job_data.job_status == 1 %}
            <div class="col-sm-1 col-md-2">
                <button type="button" id="manual_submit" class="btn btn-info" aria-label="Left Align" data-toggle="modal" data-target="#manual-submit-form">
                    <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
                    <span>Manual Upload</span>
                </button>
            </div>
            {% end %}
            {% if job_data.job_status == 2 %}
            <div class="col-sm-1 col-md-2">
                <a href="/download_zip?uuid={{ job_data.uuid }}" >
                    <button type="button" id="download_zip" class="btn btn-info" aria-label="Left Align">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                        <span>Dowload Zip</span>
                    </button>
                </a>
            </div>
            {% end %}
        </div>
    </div>
</div>
   
<!-- Manual Upload Modal -->
<div id="manual-submit-form" class="modal fade" role="dialog">
    <div class="modal-dialog">
        
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <form id="form-manual_upload" name="manual_upload" role="form" action="/manual_upload" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="frame">Frame:</label>
                        <input name="frame" type="number" min="{{ job_data.frames[0].frame }}" max="{{ job_data.frames[-1].frame }}" class="form-control" id="frame" required>
                    </div>
                    <div class="form-group">
                        <label for="frame_file">File:</label>
                        <input name="frame_file" type="file" class="form-control" id="frame_file" required>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">Job Frame Status</div>         
    <table data-toggle="table" class="table table-striped table-hover" id="jobstatus-table" data-sort-name="frame-number" data-sort-order="asc">
        <thead>
            <tr>
                <th data-field="frame-number" data-sortable="true">Frame</th>
                <th data-field="frame-complete" data-sortable="true">Complete</th>
                <th data-field="frame-status" data-sortable="true">Status</th>
                <th data-field="frame-time" data-sortable="true">Time</th>
                <th data-field="frame-actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for frame in job_data.frames %}
            <tr id="frame-row-{{ frame.uuid }}" class="{% if frame.status == 4%}success{% elif frame.status == 5 %}danger{% end %}">
                <td class="frame-tbl-id">{{ frame.frame }}</td>
                <td class="frame-tbl-complete">{% if frame.status < 3 %}NO{% else %}YES{% end%}</td>
                <td class="frame-tbl-status">
                    {% if frame.status == 0 or frame.status == 1 %}
                    WAITING
                    {% elif frame.status == 2%}
                    RENDERING
                    {% elif frame.status == 3%}
                    COMPLETE - WAITING FOR FILE
                    {% elif frame.status == 4%}
                    COMPLETE
                    {% elif frame.status == 5%}
                    FAILED
                    {% else %}
                    UNKNOWN
                    {% end%}
                </td>
                <td class="frame-tbl-time">
                    {{ frame.time }}
                </td>
                <td class="frame-tbl-actions">
                    {% if frame.status == 4%}
                    <div class="btn btn-success renderimg" img_src="/fetch_render?uuid={{ frame.uuid }}">View Image</div>
                    {% end %}
                    {% if frame.status > 1 and frame.status != 4 %}
                    <div class="btn btn-info requeue_btn" uuid="{{ frame.uuid }}" target="/manual_requeue?uuid={{ frame.uuid }}">Requeue</div>
                    {% end %}  
                </td>
            </tr>
            {% end %}
        </tbody>
    </table>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% end %}


{% block scripthook %}
      
<script>
 $('tbody.rowlink').rowlink()       
</script>

<script>
 $(document).ready(function(){
     $('div.renderimg').on('click',function(){
         var src = $(this).attr('img_src');
         var img = '<img src="' + src + '" class="img-responsive"/>';
         $('#myModal').modal();
         $('#myModal').on('shown.bs.modal', function(){
             $('#myModal .modal-body').html(img);
         });
         $('#myModal').on('hidden.bs.modal', function(){
             $('#myModal .modal-body').html('');
         });
     });

     $('div.requeue_btn').on('click',function(){
         $.ajax( {
             url: $(this).attr('target'),
             type: 'GET',
             processData: false,
             contentType: false,
             complete: function() {
                 $('#frame-row-'+$(this).attr('uuid')+' .frame-tbl-complete').text("NO");
                 $('#frame-row-'+$(this).attr('uuid')+' .frame-tbl-status').text("WAITING");
                 $('#frame-row-'+$(this).attr('uuid')+' .frame-tbl-time').text("");
                 $('#frame-row-'+$(this).attr('uuid')+' .frame-tbl-actions').text("");
             }.bind(this)
         } );
     });

     $( '#form-manual_upload' )
      .submit( function( e ) {
          var data = new FormData($('#form-manual_upload')[0]);
          data.append( "job_uuid",  "{{ job_data.uuid }}" );
          console.log( data )
              $.ajax( {
                  url: '/manual_upload',
                  type: 'POST',
                  data: data,
                  processData: false,
                  contentType: false
              } );
          e.preventDefault();
          $('#manual-submit-form').modal('hide');
      }.bind(this) );


 })
</script>

{% end %}
